.jumbotron {
  background-image: url("../img/banner.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}
.services .circle {
  width: 150px;
  height: 150px;
  margin: 1.5rem auto;
}
.portfolio .card {
  padding: 0 !important;
}
.our-team img {
  border: 10px solid #ccc;
  border-radius: 50%;
}
.our-team .icons {
  max-width: 35%;
  min-width: 200px;
}
.our-team .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}
.brands img {
  max-width: 50%;
  min-width: 150px;
}
.brands img:hover {
  cursor: pointer;
}
.contact-us {
  background-image: url(../img/map.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 6rem;
}
.contact-us .entries input {
  height: 3rem;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 1rem;
}
.contact-us textarea {
  width: 100%;
  height: 12rem;
  outline: none;
  border: none;
  border-radius: 5px;
}
.contact-us .submit button {
  height: 3rem;
  width: 10.5rem;
}
footer a:visited {
  color: #000 !important;
}
footer a:hover {
  color: blue;
  text-decoration: underline;
}
