.jumbotron {
  background-image: url("../img/banner.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  height: calc(100vh - 56px);
}
.services .circle {
  width: 150px;
  height: 150px;
  margin: 1.5rem auto;
}
.portfolio .card {
  padding: 0 !important;
}
.our-team img {
  border: 10px solid #ccc;
  border-radius: 50%;
}
.our-team .icons {
  max-width: 35%;
  min-width: 200px;
}
.our-team .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}
